.register {
    display: flex;
    justify-content: center;
    width: 100%;
}

.register__container {
    width: 500px;
    display: flex;
    margin: 20px;
    flex-direction: column;
}

.card {
    width: 100%;
}

p {
    margin: 0;
}